@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F0F0F0;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

nav {
  position: sticky;
  top: 0;
  background-color: #f3fcff;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}

.btn-primary {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  background: #6aeeb5;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 200ms ease-in;
}

.logo {
  cursor: pointer;
  width: 150px;
}

.poke-container {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.pokemon {
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.pokemon .img-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
  border-color: #222224;
  border-width: 3px;
  border-style: solid;

}

.pokemon .img-container img {
  max-width: 90%;
  margin-top: 20px;
}

.pokemon .info {
  margin-top: 20px;
}

.pokemon .info .number {
  background-color: #ee1515;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.8em;
  color: #f0f0f0;
}

.pokemon .info .name {
  margin: 15px 0 7px;
  letter-spacing: 1px;
}